#-- Navigation
alias ..='cd ..'
alias ~='cd ~'
# alias -- -='cd -'
alias c='clear'
md () { mkdir -p "$1" && cd "$1"; } # make and change to a directory
cdl () { cd "$1" && ls -l; } # change directory and list

# Bash
alias bashrc='mate ~/.bash_profile' # Old habits
alias sourceb='source ~/.bash_profile'
alias pingg='ping google.com'

## Folders
alias cD='cd ~/Desktop'
alias cdd='cd ~/Desktop'
# Project Aliases
alias s="cd ~/Spring\ \'12"
alias i="cd ~/Spring\ \'12/\*\ IS\ Project"
alias q="cd ~/Fall\ \'11/\*\ ISProject/quizmaker"
alias m="cd ~/dev/MSIBoothGame2012"
alias blog="cd ~/dev/blog"

## Listing
alias la='ls -A'
alias l='ls -CF'

# Script shortcuts
upNotes () { ~/Spring\ \'12/upNotes.sh; }

# common typos
alias claer='clear'


#-- Rails
# Server
alias rs='rails server'
alias rsalt='rails server --port=4000'

# Console
alias rc='rails console'

# Annoyances
brake() { bundle exec rake "$1"; }


#-- Version Control
# Git
alias gba='git branch -a'
alias ga='git add'
alias gb='git branch'
alias gbd='git branch -d'
alias gc='git checkout'
alias gcb='git checkout -b'
alias gr='git rm'
alias gstat='git status'
alias glog='git log'
alias tree='git log --graph --decorate --pretty=oneline --abbrev-commit'
## Git Functions ##
function push () { git push origin "$1"; }
function pull () { git pull origin "$1"; }
function stash () { git stash "$1"; }
function commit () { git commit -m "$1"; }

# SVN
alias sst='svn st'
alias sstat='svn st'
alias sup='svn up'


#-- Octopress Aliases
alias deploy="brake generate && brake deploy"
alias preview="brake generate && brake preview"


#----- Application Shortcuts
alias m.='mate .'
finder() { open -a Finder "$1"; }
mou() { open -a Mou "$1"; }
hey() {
  echo 'hey';
}
wit() { 
  if [ ! -e "$1" ]
  then
    touch "$1"; # Create file if required
  fi
  open -a "iA Writer" "$1";
}
witr() { touch "README.md"; wit "README.md"; }
marked() { open -a "Marked" "$1"; }

# makeiso <disc_image_to_create>.iso <disc_image_source>.dmg
makeiso() { hdiutil makehybrid -iso -joliet -o "$1" "$2"; }
